.vscode/*
.DS_Store
math.dSYM
union_find
union_find.dSYM
.history
primelist.dSYM
primelist
temp.cpp
rand.dSYM/Contents/Info.plist
rand.dSYM/Contents/Resources/DWARF/rand
timer.dSYM/Contents/Info.plist
timer.dSYM/Contents/Resources/DWARF/timer
/.idea
CMakeLists.txt
